server {
    listen 80;
    server_name ${STOREFRONT_HOST};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name ${STOREFRONT_HOST};

    resolver 127.0.0.11 valid=10s ipv6=off;
    set $api_upstream http://api:3001;
    set $storefront_upstream http://storefront:3000;

    ssl_certificate /etc/letsencrypt/live/wolhomes.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/wolhomes.com/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;

    client_max_body_size 10m;

    location /api/v1/ {
        proxy_pass $api_upstream;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        proxy_pass $storefront_upstream;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name ${ADMIN_HOST};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name ${ADMIN_HOST};

    resolver 127.0.0.11 valid=10s ipv6=off;
    set $api_upstream http://api:3001;
    set $admin_upstream http://admin:3002;

    ssl_certificate /etc/letsencrypt/live/wolhomes.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/wolhomes.com/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;

    client_max_body_size 10m;

    location /api/v1/ {
        proxy_pass $api_upstream;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        proxy_pass $admin_upstream;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name ${API_HOST};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name ${API_HOST};

    resolver 127.0.0.11 valid=10s ipv6=off;
    set $api_upstream http://api:3001;

    ssl_certificate /etc/letsencrypt/live/wolhomes.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/wolhomes.com/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;

    client_max_body_size 10m;

    location / {
        proxy_pass $api_upstream;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}